name: pull-request-lint

on:
  pull_request_target:
    types:
      - labeled
      - opened
      - synchronize
      - reopened
      - ready_for_review
      - edited

jobs:
  validate:
    name: Validate PR title
    runs-on: ubuntu-latest
    permissions:
      pull-requests: read
    steps:
      - name: Checkout repository
        uses: p6m7g8-actions/checkout@main
      - name: Lint PR title
        uses: ./
        with:
          gh_token: ${{ secrets.GITHUB_TOKEN }}
